
mixin form_title(className,classText)
  .form_elements-head
    h3(class =""+className)=classText

mixin date_dropdown(className, inputClass, nameClass, typeName, plName, buttonClass, typeButton, srcPath)
  div(class=""+className)
    input(class=""+inputClass name=""+nameClass type=""+typeName placeholder=""+plName required="")
    button(class=""+buttonClass type=""+typeButton)
      img(src="assets/img/svg/"+srcPath)

mixin form_button(className, classNameText, classText, buttonClass, typeButton, srcPath)
  div(class=""+className)
    div(class=""+classNameText)=classText
      button(class=""+buttonClass type=""+typeButton)
        img(src="assets/img/svg/"+srcPath) 


mixin form_input(className, inputClass, nameClass, typeName, plName)
  div(class=""+className)
    input(class=""+inputClass name=""+nameClass type=""+typeName placeholder=""+plName required="")

mixin form_radio(className, labelClass, forName, inputClass, nameClass, typeName, nameId, nameValue, spanClassMark, spanClassText, radioTextName)
  div(class=""+className)
    label(class=""+labelClass for=""+forName)
      input(class=""+inputClass name=""+nameClass type=""+typeName id=""+nameId value=""+nameValue)
      span(class=""+spanClassMark)
      span(class=""+spanClassText)=radioTextName

mixin form_gradient_button(buttonClass, typeButton, spanClassText, radioTextName)
  button(class=""+buttonClass type=""+typeButton)
    span(class=""+spanClassText)=radioTextName

mixin header_menu_navbar(className, ulClassName, liClass, spanClass, ...items)
  div(class=""+className)
    ul(class=""+ulClassName)
      each item in items
        if li == 1
          li(class=""+ liClass)=item
            span(class=""+spanClass)
        else 
          li(class=""+ liClass)=item


mixin footer_block_list(className, h3Name, ...items)
  div(class="footer-block_menu-item")
    div(class="footer-block_nav")
      div(class=""+className)
        h3(class="footer-block_title")=h3Name
        div(class="footer-block_content")
          ul(class="footer-menu")
            each item in items
              li(class="footer-menu_item")=item

mixin footer_block_text(textP)
  div(class="footer-block_text")
    span(class="block_text")=textP     


mixin datepicker(forName, inputClass, nameClass, typeName, nameId, plName, buttonClass, typeButton, srcPath)
  label(for=""+forName)
  input(class=""+inputClass name=""+nameClass type=""+typeName id=""+nameId placeholder=""+plName required="")
  

mixin button_datepicker(buttonClass, typeButton, srcPath)  
  button(class=""+buttonClass type=""+typeButton)
    img(src="assets/img/svg/"+srcPath)


